body {
    background: #1a1a1a;
    margin: 0;
}

#gameContainer {
    width: 100%;
    margin: auto;
    text-align: center;
}

#gameBackdrop {
    background: black;
    margin: auto;
}

button {
    border: 3px solid black;
    width: 150px;
    padding: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 1s, color 1s, border-color 1s;
    box-sizing: border-box;
}

#startBtn {
    color: #00e6e6;
    border-color: #00e6e6;
    background: #003366;
}

#startBtn:hover {
    color: #66ff33;
    border-color: #66ff33;
    background: #226600;
}

#resetBtn {
    color: #ff99ff;
    border-color: #ff99ff;
    background: #b30059;
}

#resetBtn:hover {
    color: #ffff00;
    border-color: #ffff00;
    background: #b38f00;
}

#scoreDiv {
    color: #ac00e6;
    background: #39004d;
    transition: background 1s, color 1s, border-color 1s;
    width: 304px;
    margin: auto;
    border: 3px solid #ac00e6;
    padding: 15px;
    cursor: pointer;
    margin-top: 5px;
    box-sizing: border-box;
}

#scoreDiv:hover {
    color: #ff751a;
    border-color: #ff751a;
    background: #993d00;
}